<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <pipelines>
      <initialize>
        <processor
          type="DreamTeam.Foundation.AccessibilityChecker.Pipelines.Initialize.InitializeRoutes, DreamTeam.Foundation.AccessibilityChecker"
          patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" />
      </initialize>
    </pipelines>
      <!-- EXPERIENCE EDITOR COMMANDS
         The commands that run in the Experience Editor for validation of page, rendering and field accessibility check.
    -->
      <commands>
        <command name="webedit:component:accessibility" type="DreamTeam.Foundation.AccessibilityChecker.WebEdit.Commands.ComponentAccessibilityCheckerCommand, DreamTeam.Foundation.AccessibilityChecker" />
        <command name="webedit:field:accessibility" type="DreamTeam.Foundation.AccessibilityChecker.WebEdit.Commands.FieldAccessibilityCheckerCommand, DreamTeam.Foundation.AccessibilityChecker" />
        <command name="webedit:page:accessibility" type="DreamTeam.Foundation.AccessibilityChecker.WebEdit.Commands.PageAccessibilityCheckerCommand, DreamTeam.Foundation.AccessibilityChecker" />
      </commands>
  </sitecore>
</configuration>
