<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration
          name="Foundation.AccessibilityChecker"
          description="DreamTeam.Foundation.AccessibilityChecker"
          dependencies="Foundation.Serialization"
          extends="Helix.Foundation">

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include
              name="Core.WebEdit.Sprites"
              database="core"
              path="/sitecore/content/Applications/WebEdit/Sprites/Experience Editor Speak Ribbon/24x24/Accessibility Checker" />

            <include
              name="Core.WebEdit.Ribbons"
              database="core"
              path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/Page Editor/Proofing/Accessibility Checker" />
          </predicate>

        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
