<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the IoC foundation module.

Module provides custom dependency resolver and service locator which is used across all of the foundation modules and features.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="DreamTeam.Foundation.DependencyInjection.Configurators.MvcControllerServicesConfigurator, BMIG.Foundation.DependencyInjection"/>
        </services>
    </sitecore>
</configuration>