@using Sitecore.Mvc

@model DreamTeam.Feature.Banner.Models.BannerModel

<article class="banner">
    @Html.Sitecore().Field("image", new { @class = "banner__image" })
    <div class="banner__text">
        <h1>
            @Html.Sitecore().Field("text")
        </h1>
    </div>
</article>