<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration
          name="Foundation.Serialization"
          description="DreamTeam.Foundation.Serialization"
          extends="Helix.Foundation">
          
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Feature Module -->
            <include name="Feature.Templates" database="master" path="/sitecore/templates/Feature/DreamTeam">
              <exclude children="true" />
            </include>
            <include name="Feature.Templates.Branches" database="master" path="/sitecore/templates/branches/Feature/DreamTeam">
              <exclude children="true" />
            </include>
            <include name="Feature.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/DreamTeam">
              <exclude children="true" />
            </include>
            <include name="Feature.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/DreamTeam">
              <exclude children="true" />
            </include>
            
            <!-- Foundation Module -->
            <include name="Foundation.Templates" database="master" path="/sitecore/templates/Foundation/DreamTeam">
              <exclude children="true" />
            </include>
            <include name="Foundation.Templates.Branches" database="master" path="/sitecore/templates/branches/Foundation/DreamTeam">
              <exclude children="true" />
            </include>

            <!-- Project Module -->
            <include name="Project.Templates" database="master" path="/sitecore/templates/Project/DreamTeam">
              <exclude children="true" />
            </include>
            <include name="Project.Renderings" database="master" path="/sitecore/layout/renderings/Project/DreamTeam">
              <exclude children="true" />
            </include>
          </predicate>
          
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
